NASA_API_KEY=your_nasa_api_key
WATSONX_API_KEY=your_watsonx_api_key
WATSONX_PROJECT_ID=your_watsonx_project_id
WATSONX_URL=your_watsonx_frankfurt_service_url
FIREBASE_PROJECT_ID=your_firebase_project_id
